<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Odd Pie Shop</title>

		<environment include="Development">
			@RenderSection("Style", required: true)
		</environment>
		
		<link rel="icon" type="image/svg+xml" href="~/images/favicon.svg">

		<script src="https://kit.fontawesome.com/df3d0cc377.js"
			crossorigin="anonymous"></script>
	</head>
	<body>
		<header>
			<a asp-controller="Home" asp-action="Index" class="logo"
			id="logo-container">
				<img src="~/images/logo.svg"
					id="logo"
					alt="Odd Pie Shop logo" />
			</a><!-- End of logo -->
			
			<ul id="nav" class="header-menu" role="navigation">
				<li class="nav__item">
					<a asp-controller="Home" asp-action="Index">
						Home
					</a>
				</li>

				@await Component.InvokeAsync("CategoryMenu")

				<li class="nav__item">
					<a asp-controller="Contact" asp-action="Index">
						Contact
					</a>
				</li>		

				@await Component.InvokeAsync("ShoppingCartSummary")				
			</ul>

			<partial name="_LoginPartial" />
		</header>	

		<main>
			@RenderBody()
		</main>
		@RenderSection("Scripts", required: false)
	</body>
</html>
