@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul id="login" class="header-menu">
@if (SignInManager.IsSignedIn(User))
{
	<li class="nav__item">		
		<h2>@UserManager.GetUserName(User)</h2>
	</li>
	<li class="nav__item">	
		<form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
			<button id="logout" type="submit">
				Logout
			</button>
		</form>
	</li>	
}
else
{
	<li class="nav__item">
		<a asp-area="Identity" asp-page="/Account/Register">
			Register
		</a>
	</li>

	<li class="nav__item">
		<a asp-area="Identity" asp-page="/Account/Login">
			Login
		</a>
	</li>
}
</ul>