@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
  <link rel="stylesheet"
    href="/css/pages/logout.css" />
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>You have successfully logged out of the application.</p>
</header>