@model PieListViewModel

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
	<link rel="stylesheet"
		href="/css/pages/pies.css" />
}

<h2 class="current-category">
	@Model.CurrentCategory
</h2>

<div class="pie-grid">
	@foreach (var pie in Model.Pies)
	{
		<partial name="_PieCard" model="pie" />
	}
</div>