@model IEnumerable<Pie>

@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
	<link rel="stylesheet"
		href="/css/pages/pies.css" />
}

<div class="pie-grid">
	@foreach (var pie in Model)
	{
		<partial name="_PieCard" model="pie" />
	}
</div>

