@section Style {
	<link rel="stylesheet"
		href="/css/shared.css" />
  <link rel="stylesheet"
    href="/css/pages/home.css" />
}

<main>
	<div class="page-title">
		<h2>Click below to contact us:</h2>
		<email address="bethany@oddpieshop.com" content="Click here"></email>
	</div>
</main>