<div id="carousel">
	<img class="carousel__img" src="/images/carousel1.jpg" 
		alt="Bethany at the counter smiling and holding a fresh pie." />

	<img class="carousel__img" src="/images/carousel2.jpg" 
		alt="A selection of pastries. Coming soon!" />

	<img class="carousel__img" src="/images/carousel3.jpg" 
		alt="A selection of pies on display" />
</div>