@model IEnumerable<Category>

<li class="nav__item">
	<a asp-controller="Pie" asp-action="List">Pies</a>
	<ul class="dropdown">
		@foreach (var category in Model)
		{
			<li class="nav__subitem">
				<a asp-controller="Pie" asp-action="List" asp-route-category="@category.CategoryName">
					@category.CategoryName
				</a>
			</li>
		}
		<li class="nav__subitem">
			<a asp-controller="Pie" asp-action="List" asp-route-category="">All pies</a>
		</li>
	</ul>
</li>