@import "base/_reset.css";
@import "base/_colors.css";
@import "base/_hyperlinks.css";
@import "base/_fonts.css";

/* Colors and fonts */
body {
	background: radial-gradient(var(--blue), var(--pink));
}

p {
	font-family: 'Alegreya Sans', sans-serif;
}

#nav,
#nav ul {
	background-color: white;
	color: darkmagenta;
	font-family: 'BioRhyme', serif;	
}

#nav a:focus,
#nav a:focus-within,
#nav a:hover {
	background: var(--purple);
	color: white;
}

.page-title {
	padding: 20px 0;
	text-align: center;
	color: white;
	font-family: 'BioRhyme', serif;
	font-size: 2rem;
}

/* Layout */
header {
	display: grid;
	grid-template-columns: min-content 1fr minmax(min-content, 60vw);
}

#nav {
	grid-column: 3;
	align-self: start;
	height: min-content;
	padding: 0;
	border-bottom-left-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#nav a {
	display: block;
	padding: 20px;
}

#logo-container {
	padding: 1vw;
	grid-column: 1;
	grid-row: 1;
	display: grid;
	place-items: center;
	width: 20vh;
}

.logo {
	width: inherit;
}
/* End of layout */

/* Nav dropdown style */
li {
	display: block;
	float: left;
	position: relative;
	text-decoration: none;
  transition-duration: 0.5s;
}

li:focus-within a {
  outline: none;
}

ul li ul {
	visibility: hidden;
  opacity: 0;
  min-width: 5rem;
	position: absolute;
  transition: all 0.5s ease;
	left: 0;
  display: none;
}

ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
	visibility: visible;
	opacity: 1;
	z-index: 1;
	display: block;
}

ul li ul li {
	clear: both;
  width: 100%;
}
/* End nav dropdown style */

/* pie-grid style */
.pie-grid {
	padding: 20px;
	width: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
	grid-gap: 2vmax;
	align-items: center;
}

.pie {
	background: white;
	padding: 20px;
	border-radius: 15px;
}

.pie-image {
	max-width: 100%;
	height: auto;
}

.price {
	text-align: right;
}

.pie-name {
	font-family: 'BioRhyme', serif;
}

/* End of pie-grid style */